.article-create-wrapper{

}
.article-create-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.article-create-wrapper form label {
    /* background-color: red; */
    display: flex;
    grid-gap: 1rem;
    gap: 1rem;
    align-items: ;
    justify-content: space-evenly;
}
.article-create-wrapper span{display: block;font-size: 1.5rem;font-family: 'poppins thin';}
.article-create-wrapper form label > *:nth-child(2){
    /* background-color: red; */
    flex: 0 1 40%;
    margin-left: auto;
}
.article-create-wrapper form label > *:nth-child(2){
    /* background-color: red; */
    flex: 0 1 70%;
}
.article-create-wrapper form textarea {min-height: 450px;max-height: 100%;}




.article-create-wrapper form .btn{
    /* margin: auto; */
    align-items: center;
    height: 57px;
    justify-content: center;
    margin-right: 1px;
}
.article-create-wrapper form .btn span{
    display: revert;
}
form *:focus-visible{
    border-color:var(--p-clr) !important;
}

@media screen and (max-width : 40rem) {
    
}